/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: url(../images/background.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font-family);
  inline-size: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
}


.header {
  display: grid;
  gap: 20px;
  padding: 120px 14px;
  margin: 100px 0px;
  font-family: var(--accent-font-family);
  align-items: center;
  justify-items: center;
  background-color: var(--bg-color);
  border: var(--main-border);
  text-transform: uppercase;
}
.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card {
  /* border: var(--main-border); */
  background-color: var(--bg-color);
}

.article__title {
  padding: 4px 10px 6px;
  font-size: 18px;
  /* line-height: 1.3em; */
  /* line-height: 100%; */
  /* line-height: 20px; */
  /* border-bottom: var(--main-border); */
  /* border-top: var(--main-border); */
  border: var(--main-border);
  border-bottom: none;
  /* border-top: none; */
  font-weight: 700;
}

.card__image-container {
  /* inline-size: 100%; */
  /* block-size: 100%; */
  position: relative;
  /* border: var(--main-border); */
}

.card__image {
  display: block;
  inline-size: 100%;
  /* block-size: 100%; */
  /* max-block-size: 100%; */
  object-fit: cover;
  object-position: center;
  /* object-fit: contain; */
  /* border: var(--main-border); */
  /* border-right: var(--main-border); */
  /* border-left: var(--main-border); */
  /* border-block-start: var(--main-border); */
  /* border-block-end: var(--main-border); */
}

.card__image-label {
  position: absolute;
  opacity: 0.5;
  font-family: var(--accent-font-family);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 100%;
  text-shadow: 
    1px 1px 0 var(--bg-color),
    -1px 1px 0 var(--bg-color),
    1px -1px 0 var(--bg-color),
    -1px -1px 0 var(--bg-color);
  inset-block-start: 25px;
  inset-inline-end: 13px;
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color))) {
  .card__image-label {
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  border: var(--main-border);
  border-top: none;
  /* border-bottom: var(--main-border); */
  /* border-left: var(--main-border); */
  /* border-right: var(--main-border); */
}

.article__text {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
  font-size: 18px;
  line-height: 21px;
}

.card__buttons {
  display: flex;
  gap: 12px;
  justify-content: end;
  align-items: center;
  height: fit-content;
}

.card__icon-button {
  border: none;
  /* border: 2px solid transparent; */
  background-color: transparent;
  /* justify-self: end; */
  /* align-items: center; */
  padding: 0;
  /* padding: 12.5px 37px; */
}

.like-icon {
  cursor: pointer;
}

.card__like-button {
  font-family: var(--accent-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  border: none;
  background-color: transparent;
  padding-block: 12.5px;
  padding-inline: 37px;
  text-align: center;
  outline: 2px solid #000;
  cursor: pointer;
  min-inline-size: 130px;
  /* border: var(--main-border); */
}

.button__text {
  /* font-family: var(--accent-font-family); */
  /* font-weight: 400; */
  /* font-size: 14px; */
  /* line-height: 90%; */
  /* border: 2px solid #000; */
  /* padding: 12.5px 37px; */
  /* outline: 2px solid #000; */
  padding: 0;
}

.footer {
  padding: 50px 34.5px 100px;
}

.save__button{
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-shrink: 0;
  font-family: var(--accent-font-family);
  font-weight: 400;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  align-items: center;
  padding: 15px 20px;
  border: none;
  outline: var(--main-border);
  cursor: pointer;
}

.save__button-image {
  inline-size: 28px;
}

.dialog {
  max-inline-size: 341px;
}

.dialog-content {
  display: flex;
  gap: 20px;
}

.dialog-image {
  inline-size: 39px;
  flex-shrink: 0;
}

.dialog-text {
  font-family: var(--accent-font-family);
  font-weight: 400;
  font-size: 14px;
}
