/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-gradient);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font-family, sans-serif);
  inline-size: var(--page-inline-size);
}


.header {
  display: grid;
  gap: 20px;
  padding: 120px 14px;
  margin: 100px 0px;
  font-family: var(--accent-font-family);
  align-items: center;
  justify-items: center;
  background-color: var(--bg-color, #fff);
  border: var(--main-border, 50px);
  text-transform: uppercase;
}
.header__title {
  font-size: var(--header-title-size);
}

.header__text {
  font-size: var(--header-text-size);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--main-gap, 50px);
}

.card {
  border: 2px solid var(--accent-color, #000);
  background-color: var(--bg-color, #fff);
}

.card__title {
  padding: 4px 10px 6px;
  font-size: 18px;
  font-weight: var(--accent-font-weight, 700);
}

.card__image-container {
  position: relative;
  border-top: 2px solid var(--accent-color, #000);
  border-bottom: 2px solid var(--accent-color, #000);
  overflow: hidden;
}

.card__image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.second-card {
  filter: grayscale(0.7) contrast(90%) brightness(110%);
}

.third-card {
  filter: saturate(200%);
}

.fourth-card {
  filter: hue-rotate(390deg) sepia(10%);
}

.fifth-card {
  filter: sepia(200%);
}

.sixth-card {
  filter: invert(0.8);
}

.seventh-card {
  filter: blur(10px);
}

.eighth-card {
  filter: contrast(90%) saturate(90%) blur(0.6px);
}

.card__image-label {
  position: absolute;
  opacity: 0.5;
  font-family: var(--accent-font-family, sans-serif);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 100%;
  text-shadow: var(--label-shadow);
  inset-block-start: 25px;
  inset-inline-end: 13px;
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color))) {
  .card__image-label {
    -webkit-text-stroke: 1px var(--bg-color, #fff);
    text-stroke: 1px var(--bg-color, #fff);
    text-shadow: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  border-top: none;
}

.card__text {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
  font-size: 18px;
  line-height: 21px;
}

.card__buttons {
  display: flex;
  gap: 6px;
  justify-content: end;
  align-items: center;
  height: fit-content;
}

.card__icon-button {
  inline-size: 38px;
  block-size: 38px  ;
  border: 2px solid transparent;
  background-color: transparent;
  padding: 0;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  border-color: var(--animation-main-color, #000);
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--animation-main-color, #000);
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--animation-accent-color, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-accent-color, #ff0000);
  transition: fill 0.3s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--animation-main-color, #000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .main-body {
  fill: var(--animation-accent-color, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-accent-color, #ff0000);
  transition: fill 0.3s linear;
}

.contour {
  fill: var(--contour-color, #000);
  transition: fill linear 0.1s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-accent-color, #ff0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .heart {
  animation: scale 0.3s ease-in 0.1s;
}

@keyframes scale {
  from {
    scale: 1;
  }

  to {
    scale: 1.25;
  }
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: scale 0.3s ease-in 0.1s, opacity 0.3s ease-in 0.3s;
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.card__icon-button:focus {
  outline: none;
}

.card__like-button {
  position: relative;
  font-family: var(--accent-font-family);
  font-variation-settings: var(--main-font-weight, 400);
  font-size: 14px;
  line-height: 90%;
  background-color: var(--bg-color, #fff);
  padding-inline: 0;
  padding-block: 11px;
  text-align: center;
  cursor: pointer;
  min-inline-size: 130px;
  border: 2px solid var(--accent-color, #000);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.button__text {
  mix-blend-mode: difference;
  color: #fff;
  z-index: 1;
}

.footer {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 50px 0px 100px;
}

.save__button {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-shrink: 0;
  font-family: var(--accent-font-family);
  font-variation-settings: var(--main-font-weight, 400);
  font-size: 14px;
  background-color: var(--bg-color, #fff);
  align-items: center;
  padding: 13px 18px;
  border: 2px solid var(--accent-color, #000);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.save__button-image {
  mix-blend-mode: difference;
  inline-size: 28px;
  block-size: 28px;
  z-index: 1;
}

.card__like-button:focus,
.save__button:focus,
.dialog-button:focus {
  outline: none;
}

.card__like-button:focus-visible,
.save__button:focus-visible,
.dialog-button:focus-visible {
  box-shadow: 2px 2px 0;
}

.card__like-button::before,
.save__button::before,
.dialog-button::before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  background-color: #000;
  transition: transform 0.5s ease-in-out;
  transform: translate(-100%);
}

.card__like-button:hover::before,
.save__button:hover::before,
.dialog-button:hover::before {
  transform: translate(0);
}

button {
  color: #fff;
}

.dialog__card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 40px;
}

.dialog-content {
  display: flex;
  gap: 20px;
}

.dialog-image {
  mix-blend-mode: difference;
  inline-size: 39px;
  flex-shrink: 0;
}

.dialog-text {
  font-family: var(--accent-font-family);
  font-variation-settings: var(--main-font-weight, 400);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
}

.dialog-button {
  position: relative;
  font-family: var(--accent-font-family);
  font-variation-settings: var(--main-font-weight, 400);
  font-size: 14px;
  line-height: 90%;
  text-transform: uppercase;
  padding: 11px 0px;
  border: 2px solid var(--accent-color, #000);
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  background-color: #fff;
}

dialog::backdrop {
  background-color: rgb(0 0 0 /0.75);
}

@media (width >= 1440px) {
  .header {
    padding: 128px 120px;
  }

  .card__image-label {
    inset-inline-end: 25px;
  }

  .footer {
    padding: 50px 180px 105px;
  }

  .save__button {
    flex-direction: row;
  }

  .save__button-image {
    inline-size: 21px;
  }
}
