/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font-family: Inter-Variable, sans-serif;
    --accent-font-family: PressStart2P;
    --bg-color: #fff;
    --main-border: 2px solid #000;
    --main-text-weight: 400;
    --accent-text-weight: 700;
    --main-gap: 50px;
}